@page "/countries"
@inject IRepository repository

<h3>Países</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Países</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Country in Countries!)
        {
            <tr>
                <th>@Country.Name</th>
                <th>
                    <a class="btn btn-warning">Editar</a>
                    <button class="btn btn-danger">Borrar</button>
                </th>
            </tr>
        }
    </tbody>
</table>

@code {
    public List<Country>? Countries { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var responseHttp = await repository.GetAsync<List<Country>>("api/countries");
        Countries = responseHttp.Response;
    }
}
